.side-button {
    -fx-background-color:#0E0B16;
    -fx-text-fill: #A239CA;
    -fx-border-color: #0E0B16;
    -fx-border-radius: 0px;
}

.side-button:hover {
    -fx-background-color:#E7DFDD;
    -fx-text-fill: #0E0B16;
}

.choice-box{
    -fx-background-color: #0E0B16;
    -fx-border-radius: 4px;
    -fx-border-color: #A239CA;
    -fx-text-fill: #A239CA;
    -fx-font-size: 18px;
    -fx-mark-color: #A239CA;
}

.choice-box .context-menu { -fx-background-color: #0E0B16; }

.choice-box .menu-item > .label { -fx-text-fill: #E7DFDD; }

.choice-box > .label { -fx-text-fill: #E7DFDD; }

.choice-box .menu-item:focused {
    -fx-background-color: #A239CA;
    -fx-text-fill: #E7DFDD;
}
.left_menu {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: transparent #A239CA transparent transparent;
}

.btn_window{
    -fx-background-color: #0E0B16;
    -fx-border-radius: 4px;
    -fx-border-color: #A239CA;
    -fx-text-fill: #A239CA;
}

.btn_window:hover{
     -fx-background-color: #A239CA;
     -fx-text-fill: #0E0B16;
}

.start_btn{
    -fx-background-color: #0E0B16;
    -fx-border-radius: 4px;
    -fx-border-color: #A239CA;
    -fx-text-fill: #A239CA;
}

.start_btn:hover{
    -fx-background-color: #A239CA;
    -fx-text-fill: #0E0B16;
    -fx-border-color: #A239CA;
}

.checkbox_style:hover{
    -fx-border-color: #A239CA;
}